.card-list {
    width: 85vw;
    margin: 0 auto 2em auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(440px, 2fr));
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-gap: 20px;
}